* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  margin: 0 auto;
}
.header {
  width: 100%;
  height: 85px;
  background: #f0f0f0;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
}

.header-container {
  width: 1600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-menu {
  display: flex;
}
.nav-menu > .nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 35px;
  border: none;
  cursor: pointer;
}

.nav-home {
  background-image: url(./01_index/nav_home.png);
  width: 36px;
  height: 30px;
}

.nav-game {
  background-image: url(./01_index/nav_game.png);
  width: 36px;
  height: 30px;
}

.nav-live {
  background-image: url(./01_index/nav_live.png);
  width: 36px;
  height: 30px;
}

.nav-board {
  background-image: url(./01_index/nav_board.png);
  width: 36px;
  height: 30px;
  background-position: top center;
}
.nav-fish {
  background-image: url(./01_index/nav_fish.png);
  width: 36px;
  height: 30px;
}

.nav-sport {
  background-image: url(./01_index/nav_sport.png);
  width: 36px;
  height: 30px;
}

.nav-lottery {
  background-image: url(./01_index/nav_lottery.png);
  width: 36px;
  height: 30px;
}

.nav-promotions {
  background-image: url(./01_index/nav_promotions.png);
  width: 36px;
  height: 30px;
}
.nav-promotions {
  background-image: url(./01_index/nav_promotions.png);
  width: 36px;
  height: 30px;
}
.status {
  display: flex;
  gap: 5px;
}

.sign-up {
  width: 190px;
  height: 36px;
  line-height: 36px;
  background-color: #309af3;
  text-align: center;
  border-radius: 4px;
  font-size: 17px;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  border: none;
}

.log-in {
  cursor: pointer;
  width: 108px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #309af3;
  font-size: 17px;
  transition: all 0.3s;
  border-radius: 4px;
}
.service {
  width: 65px;
  height: 36px;
  border: 1px solid #309af3;
  border-radius: 4px;
  cursor: pointer;
}
.service-icon {
  background-image: url(./01_index/service_icon.png);
  width: 25px;
  height: 27px;
  margin: 0 auto;
}
.banner {
  margin: 0 auto;
  position: relative;
}

.banner img {
  width: 100%;
}

.word {
  position: absolute;
  top: 16%;
  left: 29%;
  text-align: left;
}

.word span {
  display: block;
}

.top {
  font-size: 72px;
  font-weight: bold;
  color: #fff;
}

.center {
  font-size: 56px;
  font-weight: bold;
  color: #fff;
}

.line {
  width: 170px;
  height: 3px;
  background-color: #fff;
}

.for-all-time {
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}

.line,
.for-all-time {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}

.play-here {
  width: auto;
  height: 56px;
  border-radius: 10px;
  background-color: #309af3;
  font-size: 36px;
  color: #fff;
  font-weight: bold;
}

.news-container {
  width: 100%;
  height: 36px;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-content {
  width: 1500px;
  display: flex;
  align-items: center;
  padding: 0 10px;
}

.news-image {
  background-image: url(./01_index/news.png);
  width: 20px;
  height: 16px;
  margin-right: 5px;
  background-size: contain;
  background-repeat: no-repeat;
}

.news-title {
  font-size: 16px;
  color: #fff;
}

.news-text {
  font-size: 15px;
  color: #fff;
}

.con-layout {
  width: 1500px;
  margin: 0 auto;
  height: 75px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
}

.con {
  margin: 5px 0 0 0;
  cursor: pointer;
  color: #000;
}

.con:hover {
  color: #009ffa;
  border-bottom: 3px solid #009ffa;
}
.con-name {
  font-size: 14px;
  margin-bottom: 2px;
}

.con-name:hover {
  color: #009ffa;
}

.divider {
  border-bottom: 1px solid #009ffa;
  margin-bottom: 10px;
}

.game-container {
  width: 1500px;
  margin: 0 auto;
}
.panda-item {
  display: flex;
  justify-content: space-between;
}
.panda-item-left {
  display: flex;
  flex-direction: column;
  width: 849.5px;
}
.game-item {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}

.game-item-third {
  width: 851px;
}
.panda-game-pic {
  background-image: url(./01_index/ad.jpg);
  width: 634px;
  height: 416px;
  /* margin-top: 16px; */
}
.game-pic {
  width: 200px;
  height: 200px;
  background-color: #e6e6e6;
  border: #000 1px solid;
  position: relative;
}
.game-name {
  height: 32px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 18px;
  color: #fff;
  text-align: center;
  line-height: 32px;
  position: absolute;
  bottom: 0;
}

.game-button {
  text-align: center;
  line-height: 40px;
  width: 140px;
  height: 40px;
  background-color: #309af3;
  border-radius: 4px;
  font-size: 18px;
  color: #fff;
  margin: 0 auto;
  position: relative;
  top: 50%;
  opacity: 0;
  cursor: pointer;
}
.game-pic:hover {
  transform: scale(1.1);
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px solid #309af3;
}
.game-pic:hover .game-name {
  top: 30%;
  font-size: 22px;

  background-color: rgba(0, 0, 0, 0);
}

.game-pic:hover .game-button {
  opacity: 1;
}
.many-layout {
  width: 1500px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  color: #fff;
}
.many-game {
  width: 188px;
  height: 52px;
  background-color: #309af3;
  border: #309af3;
  border-radius: 4px;
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.middle {
  margin-top: 30px;
  border-top: 1px solid #009ffa;
  border-bottom: 1px solid #009ffa;
}

.middle-container {
  width: 1500px;
  margin: 0 auto;
}

.middle-title {
  font-size: 36px;
  color: #212121;
  font-weight: bold;
  margin: 35px 0 20px;
}

.middle-text {
  font-size: 18px;
  color: #212121;
  margin-bottom: 20px;
}
.middle-item {
  display: flex;
  justify-content: space-between;
  margin: 5px 0 50px;
}

.board2 {
  background-image: url(./01_index/board.jpg);
  background-size: auto;
  width: 720px;
  height: 300px;
}
.board2:hover {
  background-image: url(./01_index/board.jpg);
  background-position: bottom center;
}

.fish2 {
  background-image: url(./01_index/fish.jpg);
  background-size: auto;
  width: 720px;
  height: 300px;
}
.fish2:hover {
  background-image: url(./01_index/fish.jpg);
  background-position: bottom center;
}

.live2 {
  background-image: url(./01_index/live.jpg);
  height: 300px;
  width: 460px;
}
.live2:hover {
  background-image: url(./01_index/live.jpg);
  background-position: bottom center;
}

.sport2 {
  background-image: url(./01_index/sport.jpg);
  height: 300px;
  width: 460px;
}
.sport2:hover {
  background-image: url(./01_index/sport.jpg);
  background-position: bottom center;
}

.lottery2 {
  background-image: url(./01_index/lottery.jpg);
  height: 300px;
  width: 460px;
}

.lottery2:hover {
  background-image: url(./01_index/lottery.jpg);
  background-position: bottom center;
}

.mobile {
  background-image: url(./01_index/mobile_bg.jpg);
  border-top: 1px solid #009ffa;
  width: 1920px;
  height: 600px;
}
.mobile-container {
  border: #000 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.mobile-img {
  background-image: url(./01_index/mobile_img.png);
  width: 963px;
  height: 600px;
}

.mobile-right {
  display: flex;
  flex-direction: column;
}

.mobile-title {
  width: 500px;
  font-size: 36px;
  color: #212121;
  font-weight: bold;
  margin-bottom: 50px;
}

.mobile-text {
  font-size: 18px;
  color: #212121;
  width: 500px;
}

.mobile-third {
  display: flex;
  margin-top: 30px;
}

.mobile-third > .ios {
  display: flex;
  flex-direction: column;
}
.mobile-third > .ios > .ios-QR {
  width: 120px;
  height: 120px;
  border: #000 1px solid;
  margin-right: 30px;
}
.ios-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-top: 10px;
}
.ios-info > .ios-pic {
  background-image: url(./01_index/mobile_ios.png);
  width: 22px;
  height: 26px;
  margin-right: 5px;
}

.mobile-third > .android {
  display: flex;
  flex-direction: column;
}
.mobile-third > .android > .android-QR {
  width: 120px;
  height: 120px;
  border: #000 1px solid;
  margin-right: 30px;
}
.android-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  margin-top: 10px;
}
.android-info > .android-pic {
  background-image: url(./01_index/mobile_Android.png);
  width: 22px;
  height: 26px;
  margin-right: 5px;
}

.mobile-third-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CPC {
  font-size: 20px;
  color: #309af3;
}

.LP {
  font-size: 30px;
  color: #309af3;
}

.footer {
  background-image: url(./01_index/footer_bg.jpg);
  width: 1920px;
  height: 300px;
}

.contact-information {
  width: 1500px;
  height: 66px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contact {
  font-size: 20px;
  color: #a7a7a7;
  font-weight: bold;
}

.contact-num {
  color: #545458;
  font-size: 17px;
  line-height: 45px;
  font-weight: bold;
  border-left: 4px solid #545458;
  padding-left: 20px;
  text-align: left;
  height: 45px;
}

.divider2 {
  border-bottom: 2px solid #39393a;
}

.footer-container {
  width: 1500px;
  height: 182px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.footer-logo {
  background-image: url(./01_index/footer_logo.png);
  width: 174px;
  height: 76px;
}

.footer-item {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.item-top {
  display: flex;
}
.item-top > .icon {
  background-image: url(./01_index/footer_icon.png);
  width: 11px;
  height: 11px;
}
.item-top > .title {
  line-height: 11px;
  font-size: 17px;
  color: #a7a7a7;
  font-weight: bold;
  margin-left: 5px;
}
.item-bottom1 {
  background-image: url(./01_index/footer_partners.png);
  width: 504px;
  height: 29px;
}
.item-bottom2 {
  background-image: url(./01_index/footer_payment.png);
  width: 245px;
  height: 25px;
}
.item-bottom3 > .info {
  display: flex;
}
.item-bottom3 .text {
  vertical-align: middle;
  color: #808080;
  line-height: 18px;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
}
.text:hover {
  color: #fff;
}

.text::after {
  content: "";
  height: 18px;
  width: 1px;
  background-color: #808080;
  display: inline-block;
  margin: 0px 25px;
  vertical-align: middle;
}
.copyright {
  font-style: 16px;
  line-height: 52px;
  height: 52px;
  color: #808080;
  text-align: center;
  background-color: rgba(75, 75, 75, 0.45);
  border-top: 1px solid #39393a;
}
.demo {
  color: #00afef;
}
